.clearfix { clear: both; }

/* #tableChartContainer { float: left; min-height: 500px; text-align: center !important; margin-left: auto; margin-right: auto; font-family: 'Titillium Web', sans-serif; } */
#chartContainer { min-height: 500px; margin-left: auto; margin-right: auto;  }
#chart {   }

/* #tableContainer { float: right; font-family: 'Titillium Web', sans-serif; } */

.table { width: 650px; height: 300px; overflow-y: auto; }

.column { float: left; width: 150px; }

/* Content */
#content { display: block; }

/* Actions */
/* ESCONDE LAS ACCIONES. SI DECIDIMOS DEJAR PLAY/PAUSE, DESCOMENTAR ESTA LINEA */
.actions { display: none; }

.actions { text-align: center; margin-bottom: 10px; }
.actions .action { display: inline-block; width: 45px; height: 45px; margin-left: auto; margin-right: auto; }
.actions .action#resumeReport { background: url(http://findicons.com/files/icons/109/preview/play_stop_pause_full.png) -92px -45px; background-repeat: no-repeat; background-size: 700%; }
.actions .action#pauseReport { background: url(http://findicons.com/files/icons/109/preview/play_stop_pause_full.png) -267px -44px; background-repeat: no-repeat; background-size: 700%; }

/* Header */
.table .header { font-weight: bold; border-bottom: solid 1px black; }

/* Log panel */
#log, #logpanel { width: 100%; margin-bottom: 10px; }
#logpanel { display: block; margin-left: auto; margin-right: auto; width: 98%; height: 150px; resize: none; color: cadetblue; background-color: ghostwhite; }

/* Footer */
#footer {  }