ul.navBar,ul.navBar>li {
	list-style: none;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

ul.navBar {
	position: relative;
	z-index: 100;
	float: left;
}

ul.navBar>li {
	float: left;
	height: 30px;
	line-height: 1.3em;
	vertical-align: middle;
	background: #393a39;
	width: 110px;
}

ul.navBar a.dir {
	padding-right: 20px;
	background-image: url(images/nav-arrow-down.png);
	background-position: 100% 50%;
	background-repeat: no-repeat;
}

ul.navBar>li>a {
	display: block;
	padding: 7px 10px;
	color: #fff;
}

#content {
	color: #000;
	padding: 2.5em;
/* 	min-height: 700px; */
	margin-left: auto;
	margin-right: auto;
}

#container {
	background-color: #fafafa;
	border: 1px solid #fff;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#header {
	color: #fafafa;
	font-size: 2em;
	padding: 7px;
	border-bottom: 1px solid #fff;
}

#header,#footer,#navBar {
	background-image: linear-gradient(left, #393a39 40%, #000 71%);
	background-image: -o-linear-gradient(left, #393a39 40%, #000 71%);
	background-image: -moz-linear-gradient(left, #393a39 40%, #000 71%);
	background-image: -webkit-linear-gradient(left, #393a39 40%, #000 71%);
	background-image: -ms-linear-gradient(left, #393a39 40%, #000 71%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(.4, #393a39),
		color-stop(.71, #000));
}

#header a {
	background-image: url(images/logo.png);
	background-repeat: no-repeat;
	height: 70px;
	width: 88px;
	display: inline-block;
	vertical-align: middle;
}

#footer {
	color: #fafafa;
	padding: .5em;
}

#footer_social {
	float: right;
}

a {
	color: #000;
	text-decoration: underline;
	cursor: pointer
}

body {
	background-image: url(images/bg.png);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .75em;
}

#board {
	position: relative
}

h1 {
	font-size: 1.6em;
	margin: .5em .5em 1em 0;
}

h2 {
	font-size: 1.2em;
	margin: .8em .5em .3em .6em;
}

#navBar {
	height: 30px;
}

.ui-menu {
	z-index: 100;
	margin: 1px;
	width: 120px;
}

.inner {
	width: 275px;
}